header {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
.play-panel {
  width: 100px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
}
.play-panel .top-box,
.play-panel .bottom-box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
}
.top,
.bottom {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
