.play-panel {
  width: 100px;
  border: 1px solid black;

  .top-box, .bottom-box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

